# Node / Frontend
node_modules/
**/node_modules/
dist/
**/dist/
build/
.vite/
**/.vite/
*.log
# .env*
!.env.example

# .NET / Backend
bin/
**/bin/
obj/
**/obj/
.vs/
**/.vs/
*.user
*.suo

# System
.DS_Store
Thumbs.db

